<div ui-content-for="title" ng-controller="itemDetailController">
  <span>{{model.localizedTitle}}</span>
</div>
<div class="scrollable">
 <div class="scrollable-content section">
  <p class="description">{{model.description}}</p>
  <span class="badge badge-primary" ng-repeat="item in model.tags ">{{item}}</span>
  <hr/>
  <h5 class="sectionTitle">پیچیدگی</h5>
  <p>پیچیدگی این الگوریتم <code>{{model.complexity}}</code> می باشد</p>
  <hr/>
  <h5 class="sectionTitle">الگوریتم های مشابه</h5>
  <p><span ng-repeat="item in model.similarAlgorithms">{{item.title}}</span></p>
  <hr/>
  <h5 class="sectionTitle">کاربردها</h5>
  <p>
    <ul>
      <li ng-repeat="item in model.applications">{{item}}</li>  
    </ul>
  </p>
</div>
</div>
